<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Guitar Center</title>
	<link rel="stylesheet" type="text/css" href="../styles/check2.css"/>
</head>
<body>
<div id="new-results">
	<div class="sale-signup-content">
		<h2>New Arrivals</h2>
		<div class="new-arrival-border">
			<img src="../images/product1.jpg">
			<div>
				<h4>Gibson Les Paul</h4>
				<p>onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<a href="#">Link to somewhere...</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>